.navBar{
	position: relative;
	background-color: white;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 3;
	.title{
		font-weight: bold;
		font-size: 32rpx;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 66rpx;
	}
	image{
		width: 40rpx;
		height: 40rpx;
		position: absolute;
		left: 26rpx;
		bottom: 34rpx
	}
}